---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, I'm Joy!</h1>
      <p>Web Frontend Engineer, currently based in Seoul.</p>
      <p>
        Rather than working to the point of exhaustion, I take an
        ownership-driven approach to engineering, focusing on what truly matters
        for the product.
      </p>
      <p>
        I have a strong interest in bridging the gap between user needs and the
        way engineers approach problem-solving. I enjoy discussing the problems
        we are solving with my colleagues and find great satisfaction in working
        together to refine and improve our code!
      </p>
      <p>zuzokim@gmail.com</p>
    </main>
    <Footer />
  </body>
</html>
<style>
  main {
    width: 960px;
    padding: 200px 0 300px 0;
  }
</style>
